In [1]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('data/Hyperlocal_Temperature_Monitoring.csv', parse_dates=['Day'])

In [22]:
data

,Sensor.ID,AirTemp,Day,Hour,Latitude,Longitude,Year,Install.Type,Borough,ntacode
0,Bk-BR_01,71.189000,2018-06-15,1,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
1,Bk-BR_01,70.243333,2018-06-15,2,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
2,Bk-BR_01,69.392667,2018-06-15,3,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
3,Bk-BR_01,68.263167,2018-06-15,4,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
4,Bk-BR_01,67.114000,2018-06-15,5,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
...,...,...,...,...,...,...,...,...,...,...
2097145,Q-CH_26,78.346667,2019-09-07,15,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097146,Q-CH_26,79.517167,2019-09-07,16,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097147,Q-CH_26,77.203667,2019-09-07,17,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097148,Q-CH_26,75.696000,2019-09-07,18,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097149,Q-CH_26,72.359000,2019-09-07,19,40.699578,-73.73876,2019,Light Pole,Queens,QN33

In [23]:
data['Sensor.ID'].unique().shape

(423,)

In [24]:
data.Latitude.unique().shape

(434,)

In [25]:
data_day1 = data[data.Day == '2018-06-15']

In [28]:
data_day1

,Sensor.ID,AirTemp,Day,Hour,Latitude,Longitude,Year,Install.Type,Borough,ntacode
0,Bk-BR_01,71.189000,2018-06-15,1,40.666205,-73.916910,2018,Street Tree,Brooklyn,BK81
1,Bk-BR_01,70.243333,2018-06-15,2,40.666205,-73.916910,2018,Street Tree,Brooklyn,BK81
2,Bk-BR_01,69.392667,2018-06-15,3,40.666205,-73.916910,2018,Street Tree,Brooklyn,BK81
3,Bk-BR_01,68.263167,2018-06-15,4,40.666205,-73.916910,2018,Street Tree,Brooklyn,BK81
4,Bk-BR_01,67.114000,2018-06-15,5,40.666205,-73.916910,2018,Street Tree,Brooklyn,BK81
...,...,...,...,...,...,...,...,...,...,...
1046558,Q-JC_04,82.541333,2018-06-15,19,40.699953,-73.777503,2018,Street Tree,Queens,QN01
1046559,Q-JC_04,75.849167,2018-06-15,20,40.699953,-73.777503,2018,Street Tree,Queens,QN01
1046560,Q-JC_04,73.041000,2018-06-15,21,40.699953,-73.777503,2018,Street Tree,Queens,QN01
1046561,Q-JC_04,70.215000,2018-06-15,22,40.699953,-73.777503,2018,Street Tree,Queens,QN01
1046562,Q-JC_04,68.477333,2018-06-15,23,40.699953,-73.777503,2018,Street Tree,Queens,QN01